on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: build application
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup DotNET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10'

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build